[Unit]
Description=ZWO ASI120MM raspberry server
After=network.target

[Service]
ExecStart=/usr/local/bin/asi_server.py
ExecStop=kill -TERM $(ps ax | grep asi_server.py | head -1 | awk '{print $1}')
Restart=Always

[Install]
WantedBy=default.target
