[Unit]
Description=Remote controller
After=network.target

[Service]
ExecStart=/usr/local/bin/remote_controller.py
ExecStop=/bin/kill -TERM $(/bin/ps ax | /bin/grep remote_controller | /usr/bin/head -1 | /usr/bin/awk '{print $1}')
Restart=Always

[Install]
WantedBy=default.target
